body {
  background-color: #f2f2f2;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

article {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 365px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  max-height: 500px;
}

article section.image {
  position: relative;
  z-index: 1;
  color: white;
  overflow: hidden;
}

article section.image p.date {
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 0%;
  background-color: #e94c3d;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
}

article section.image img {
  position: relative;
  z-index: 1;
  width: 365px;
  height: 365px;
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

article section.text {
  position: absolute;
  z-index: 2;
  bottom: 0;
  background-color: white;
  color: #5A5A5A;
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

article section.text header h2 {
  position: relative;
  color: black;
  text-transform: uppercase;
}

article section.text header h3 {
  position: relative;
  color: #E28DA4;
}

article section.text header h3.floatingLink {
  text-transform: uppercase;
  background-color: #e94c3d;
  color: white;
  padding: 5px;
  position: absolute;
  top: -20%;
  left: 0%;
}

article footer {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  background-color: white;
}

article:hover {
  max-height: none;
  -webkit-box-shadow: 2px 2px 2px 2px #CEC8C8, -2px -2px 2px 2px #CEC8C8;
          box-shadow: 2px 2px 2px 2px #CEC8C8, -2px -2px 2px 2px #CEC8C8;
}

article:hover section.text {
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

article:hover section.image img {
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0.5;
}
