body {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto auto;
  grid-auto-rows: 10% auto;
  background-color: #656565;
}

nav {
  width: 50px;
  background-color: #4c4b4b;
}

nav .button1 {
  background-color: #262626;
}

nav ol {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ol img {
  width: 50px;
  height: 50px;
}

nav ol li p {
  display: none;
}

nav ol lihover p {
  display: inline-block;
  -webkit-transform: translate3D(100%, 0, 0);
      -ms-transform: translate3D(100%, 0, 0);
          transform: translate3D(100%, 0, 0);
}
